body.disable-scrool {
  overflow: hidden;
}
body.start:before {
  background-color: #d35400;
  background-position: center;
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend,
p,
li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ecf0f1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 18px;
}
img {
  max-width: 100%;
}
.container-fluid {
  max-width: 1170px;
}
.row.without_padding {
  padding: 0px;
  margin: 0px;
}
button {
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.btn {
  border: none;
  border-radius: 0;
  color: white;
  outline: none;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: white;
  outline: none;
}
.overlay {
  background-color: #d35400;
  opacity: 0.9;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.overlay ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.overlay ul a {
  font-size: 48px;
  line-height: 1.7;
  color: #ecf0f1;
}
.overlay ul a:focus {
  text-decoration: none;
}
.overlay header #nav-icon {
  position: absolute;
}
header {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  content: "";
  /* Icon */
}
header::after {
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header::before {
  background-color: #2c3e50;
  background-position: center;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
header .navbar {
  margin-top: 35px;
  min-height: 80px;
  border-bottom: none;
}
header .navbar li {
  font-size: 15px;
  margin: 20px 20px;
}
header .navbar li a {
  color: black;
  line-height: 40px;
  text-shadow: 1px 1px 2px #969696;
  padding: 0;
  text-shadow: none;
}
header .navbar li a:focus,
header .navbar li a:active,
header .navbar li a:hover {
  background: transparent;
}
header .main_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
header .main_heading h1 {
  font-size: 56px;
}
header .main_heading .subheading {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 25%;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: ahoj;
  animation-name: ahoj;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes ahoj {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  0% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
    transform: rotate3d(0, 0, 1, -15deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  45% {
    -webkit-transform: rotate3d(0, 0, 1, 9deg);
    transform: rotate3d(0, 0, 1, 9deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 9deg);
    transform: rotate3d(0, 0, 1, 9deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
    transform: rotate3d(0, 0, 1, -15deg);
  }
}
header .navbar-brand img {
  z-index: 100;
}
header #nav-icon {
  z-index: 100;
  margin: 15px 15px;
  width: 30px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header #nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ecf0f1;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header #nav-icon span:nth-child(1) {
  top: 0px;
}
header #nav-icon span:nth-child(2),
header #nav-icon span:nth-child(3) {
  top: 9px;
}
header #nav-icon span:nth-child(4) {
  top: 18px;
}
header #nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
header #nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header #nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header #nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
main .about {
  position: relative;
  background-color: #ecf0f1;
  padding-top: 75px;
  padding-bottom: 0px;
}
main .about p,
main .about h1,
main .about h2,
main .about h3,
main .about h4 {
  color: #000000;
}
main .about .triangle-left {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 170px 0 0 1400px;
  border-color: transparent transparent transparent #ecf0f1;
  position: absolute;
  top: -170px;
  right: 0;
}
main .about .container-fluid h2 {
  margin-bottom: 75px;
}
main .about .container-fluid p {
  line-height: 1.6;
}
main .about .container-fluid .expirience .cv a {
  font-size: 20px;
  color: #2196F3;
}
main .about .container-fluid .expirience .job:first-of-type {
  margin-top: 75px;
}
main .about .container-fluid .expirience .job:last-of-type {
  margin-bottom: 75px;
}
main .about .container-fluid .expirience .job .left {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .about .container-fluid .expirience .job .left p {
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
  margin-right: 10px;
}
main .about .container-fluid .expirience .job .right {
  border-left: 2px solid #2c3e50;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .about .container-fluid .expirience .job .right.first {
  height: 350px;
}
main .about .container-fluid .expirience .job .right.second {
  height: 150px;
}
main .about .container-fluid .expirience .job .right .dot-1 {
  height: 25px;
  width: 25px;
  background: #2c3e50;
  border-radius: 100px;
  position: absolute;
  left: -13px;
  top: 0;
}
main .about .container-fluid .expirience .job .right .dot-2 {
  height: 25px;
  width: 25px;
  background: #2c3e50;
  border-radius: 100px;
  position: absolute;
  left: -13px;
  bottom: 0px;
}
main .about .container-fluid .expirience .job .right .title {
  font-size: 20px;
  font-family: "Montserrat", Helvetica, sans-serif;
}
main .about .container-fluid .expirience .job .right .title a {
  color: #2196F3;
}
main .about .container-fluid .expirience .job .right .job-description {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
main .about .container-fluid .skills {
  display: flex;
  flex-direction: column;
}
main .about .container-fluid .skills h4 {
  margin-bottom: 25px;
}
main .about .container-fluid .skills .skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  margin-bottom: 15px;
}
main .about .container-fluid .skills .skill .title {
  font-size: 18px;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin-right: 10px;
  padding-top: 3px;
}
main .about .container-fluid .skills .skill .boxik {
  width: 350px;
}
main .about .container-fluid .skills .skill .boxik .progressbar {
  height: 23px;
  width: 95%;
  background: #c0392b;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
main .about .container-fluid .skills .skill .boxik .bottom-line {
  height: 2px;
  background: #e74c3c;
}
main .about .container-fluid .skills .skill .boxik:hover .progressbar,
main .about .container-fluid .skills .skill .boxik:focus .progressbar,
main .about .container-fluid .skills .skill .boxik:active .progressbar {
  background: transparent;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
main .about .container-fluid .skills .skill .boxik:hover .progressbar:before,
main .about .container-fluid .skills .skill .boxik:focus .progressbar:before,
main .about .container-fluid .skills .skill .boxik:active .progressbar:before {
  content: "95%";
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #c0392b;
}
main .about .container-fluid .skills .skill.r .boxik .progressbar {
  width: 70%;
}
main .about .container-fluid .skills .skill.r .boxik:hover .progressbar:before,
main .about .container-fluid .skills .skill.r .boxik:focus .progressbar:before,
main .about .container-fluid .skills .skill.r .boxik:active .progressbar:before {
  content: "70%";
}
main .about .container-fluid .skills .skill.js .boxik .progressbar {
  width: 80%;
}
main .about .container-fluid .skills .skill.js .boxik:hover .progressbar:before,
main .about .container-fluid .skills .skill.js .boxik:focus .progressbar:before,
main .about .container-fluid .skills .skill.js .boxik:active .progressbar:before {
  content: "80%";
}
main .about .container-fluid .skills .skill.wd .boxik .progressbar {
  width: 80%;
}
main .about .container-fluid .skills .skill.wd .boxik:hover .progressbar:before,
main .about .container-fluid .skills .skill.wd .boxik:focus .progressbar:before,
main .about .container-fluid .skills .skill.wd .boxik:active .progressbar:before {
  content: "80%";
}
main .about .triangle-right {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 1400px 170px 0;
  border-color: transparent #ecf0f1 transparent transparent;
  position: absolute;
  bottom: -170px;
  right: 0;
}
main .transition {
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
main .work {
  background: #2c3e50;
  position: relative;
  padding-bottom: 75px;
  padding-top: 75px;
}
main .work .triangle-left {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 170px 0 0 1400px;
  border-color: transparent transparent transparent #2c3e50;
  position: absolute;
  top: -170px;
  right: 0;
}
main .work .container-fluid h2 {
  margin-bottom: 75px;
}
main .work .container-fluid .box {
  background: #ecf0f1;
  height: 270px;
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  border: none;
  border-color: transparent;
}
main .work .container-fluid .box .description,
main .work .container-fluid .box .text {
  display: none;
}
main .work .container-fluid .box.pulse .description {
  max-width: 100%;
  display: block;
  border-style: solid;
  border-width: 125px 0 0 270px;
  border-color: transparent transparent transparent #2c3e50;
  position: absolute;
  opacity: 0.9;
  bottom: -1px;
  left: 0;
}
main .work .container-fluid .box.pulse .text {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 5px;
}
main .work .container-fluid .box.pulse .text p {
  font-size: 14px;
}
main .work .container-fluid .box img {
  width: 100%;
  height: 100%;
  opacity: 0;
  /* OLD IE */
  zoom: 1;
  filter: alpha(opacity=0);
}
main .work .container-fluid .box.lg {
  height: 570px;
}
main .work .triangle-right {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 1400px 170px 0;
  border-color: transparent #2c3e50 transparent transparent;
  position: absolute;
  bottom: -170px;
  right: 0;
  z-index: 1;
}
main .contact {
  padding-top: 170px;
  padding-bottom: 170px;
  position: relative;
  background-color: #ecf0f1;
  color: #000000;
}
main .contact h2 {
  color: #000000;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin-bottom: 30px;
}
main .contact p {
  color: #000000;
  margin-bottom: 30px;
  line-height: 1.6;
}
main .contact .input-form {
  margin-top: 45px;
}
main .contact .input-form button {
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 3px;
  color: #ecf0f1;
  background: #2c3e50;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 45px;
}
main .contact .input-form button:hover,
main .contact .input-form button:focus,
main .contact .input-form button:active {
  background: #1a242f;
}
main .contact .triangle-right-reverse {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 170px 1400px;
  border-color: transparent transparent #2c3e50 transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer {
  background: #2c3e50;
}
footer p {
  color: #ecf0f1;
  font-size: 14px;
}
footer .icons {
  margin-top: 75px;
}
footer a {
  color: #ecf0f1;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: #cccccc;
  text-decoration: none;
}
footer a .fa {
  font-size: 45px;
  position: absolute;
}
footer a .fa.fa-twitter {
  bottom: 40px;
}
footer a .fa.fa-medium {
  bottom: 60px;
}
footer a .fa.fa-facebook-official {
  bottom: 100px;
}
footer a .fa.fa-linkedin-square {
  bottom: 80px;
}
footer a .fa.fa-github {
  bottom: 20px;
}
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 1200px) {
  main .about .triangle-left {
    border-width: 170px 0 0 1500px;
  }
  main .about .triangle-right {
    border-width: 0 1500px 170px 0;
  }
  main .work .triangle-left {
    border-width: 170px 0 0 1500px;
  }
  main .work .triangle-right {
    border-width: 0 1500px 170px 0;
  }
  main .contact .triangle-right-reverse {
    border-width: 0 0 170px 1500px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1500px) {
  main .about .triangle-left {
    border-width: 170px 0 0 2300px;
  }
  main .about .triangle-right {
    border-width: 0 2300px 170px 0;
  }
  main .work .triangle-left {
    border-width: 170px 0 0 2300px;
  }
  main .work .triangle-right {
    border-width: 0 2300px 170px 0;
  }
  main .contact .triangle-right-reverse {
    border-width: 0 0 170px 2300px;
  }
}
@media only screen and (min-width: 2300px) {
  main .about .triangle-left {
    border-width: 170px 0 0 4000px;
  }
  main .about .triangle-right {
    border-width: 0 4000px 170px 0;
  }
  main .work .triangle-left {
    border-width: 170px 0 0 4000px;
  }
  main .work .triangle-right {
    border-width: 0 4000px 170px 0;
  }
  main .contact .triangle-right-reverse {
    border-width: 0 0 170px 4000px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  main .about .triangle-left {
    border-width: 170px 0 0 1200px;
  }
  main .about .triangle-right {
    border-width: 0 1200px 170px 0;
  }
  main .work .triangle-left {
    border-width: 170px 0 0 1200px;
  }
  main .work .triangle-right {
    border-width: 0 1200px 170px 0;
  }
  main .contact .triangle-right-reverse {
    border-width: 0 0 170px 1200px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    padding: 0px 15px;
  }
  header .main_heading h1 {
    font-size: 48px;
  }
  header .main_heading .subheading {
    font-size: 16px;
    margin-left: 32%;
  }
  main .about {
    padding-top: 45px;
  }
  main .about .skills .skill {
    justify-content: center;
  }
  main .about .container-fluid .expirience .job .left {
    display: none;
  }
  main .work .container-fluid h2 {
    margin-bottom: 75px;
  }
  main .work .container-fluid .box.pulse .description {
    border-width: 125px 0 0 220px;
  }
  main .work .container-fluid .box.pulse .text p {
    font-size: 12px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .overlay ul {
    padding: 0;
  }
  .overlay ul a {
    font-size: 36px;
    line-height: 1.7;
  }
  .overlay header #nav-icon {
    position: absolute;
  }
  header {
    padding: 0px 15px;
  }
  header .main_heading h1 {
    font-size: 40px;
  }
  header .main_heading .subheading {
    font-size: 14px;
    margin-left: 32%;
  }
  main .about {
    padding-top: 45px;
  }
  main .about .skills .skill {
    justify-content: center;
  }
  main .about .container-fluid .expirience .job .right .title {
    font-size: 18px;
  }
  main .about .container-fluid .expirience .job .right .job-description {
    font-size: 14px;
  }
  main .transition {
    background-attachment: inherit;
    height: 100vh;
  }
  main .work .container-fluid h2 {
    margin-bottom: 75px;
  }
  main .work .container-fluid .box.pulse .description {
    border-width: 125px 0 0 270px;
  }
  main .work .container-fluid .box.pulse .text p {
    font-size: 14px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .overlay ul {
    padding: 0;
  }
  .overlay ul a {
    font-size: 30px;
    line-height: 1.7;
  }
  .overlay header #nav-icon {
    position: absolute;
  }
  header {
    min-height: 90vh;
    padding: 0px 15px;
  }
  header .main_heading h1 {
    font-size: 30px;
  }
  header .main_heading .subheading {
    font-size: 14px;
    margin-left: 32%;
  }
  main .about {
    padding-top: 45px;
  }
  main .about p {
    font-size: 14px;
  }
  main .about .container-fluid .skills .skill .title {
    font-size: 16px;
  }
  main .about .container-fluid .skills .skill .boxik {
    width: 200px;
  }
  main .work {
    padding-bottom: 0px;
  }
  main .work .container-fluid h2 {
    margin-bottom: 75px;
  }
  main .work .container-fluid .box.pulse .description {
    border-width: 125px 0 0 270px;
  }
  main .work .container-fluid .box.pulse .text p {
    font-size: 14px;
  }
  main .contact {
    padding-top: 220px;
    padding-bottom: 175px;
  }
  footer .icons {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: -30px;
  }
  footer .col-xs-2 {
    width: 20%;
  }
  footer a .fa {
    font-size: 45px;
  }
  footer a .fa.fa-twitter {
    bottom: 35px;
  }
  footer a .fa.fa-medium {
    bottom: 50px;
  }
  footer a .fa.fa-facebook-official {
    bottom: 80px;
  }
  footer a .fa.fa-linkedin-square {
    bottom: 65px;
  }
  footer a .fa.fa-github {
    bottom: 20px;
  }
}
/* Custom, iPhone Retina */
