h1,
h2,
h3,
h4,
h5,
h6,
legend,
p,
li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ecf0f1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 18px;
}
img {
  max-width: 100%;
}
.container-fluid {
  max-width: 1170px;
}
.row.without_padding {
  padding: 0px;
  margin: 0px;
}
.btn {
  border: none;
  border-radius: 0;
  color: white;
  outline: none;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: white;
  outline: none;
}
.overlay {
  background: #d35400;
  opacity: 0.9;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.overlay ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.overlay ul a {
  font-size: 48px;
  line-height: 1.7;
  color: #ecf0f1;
}
.overlay ul a:focus {
  text-decoration: none;
}
.overlay header #nav-icon {
  position: absolute;
}
header {
  min-height: 100vh;
  /* Icon */
}
header::after {
  background-image: url("../img/header_2.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header::before {
  background-color: #2c3e50;
  background-position: center;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
header .navbar {
  margin-top: 35px;
  min-height: 80px;
  border-bottom: none;
}
header .navbar li {
  font-size: 15px;
  margin: 20px 20px;
}
header .navbar li a {
  color: black;
  line-height: 40px;
  text-shadow: 1px 1px 2px #969696;
  padding: 0;
  text-shadow: none;
}
header .navbar li a:focus,
header .navbar li a:active,
header .navbar li a:hover {
  background: transparent;
}
header .main_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
header .main_heading h1 {
  font-size: 56px;
}
header .main_heading .subheading {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 25%;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
header .navbar-brand img {
  z-index: 100;
}
header #nav-icon {
  z-index: 100;
  margin: 15px 15px;
  width: 30px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header #nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ecf0f1;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header #nav-icon span:nth-child(1) {
  top: 0px;
}
header #nav-icon span:nth-child(2),
header #nav-icon span:nth-child(3) {
  top: 9px;
}
header #nav-icon span:nth-child(4) {
  top: 18px;
}
header #nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
header #nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header #nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header #nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
main .about {
  position: relative;
  background-color: #ecf0f1;
}
main .about .triangle-left {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 170px 0 0 1400px;
  border-color: transparent transparent transparent #ecf0f1;
  position: absolute;
  top: -170px;
  right: 0;
}
main .about .triangle-right {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 1400px 170px 0;
  border-color: transparent #ecf0f1 transparent transparent;
  position: absolute;
  bottom: -170px;
  right: 0;
}
main .transition {
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
main .work {
  background: #2c3e50;
  position: relative;
  padding-bottom: 45px;
}
main .work .triangle-left {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 170px 0 0 1400px;
  border-color: transparent transparent transparent #2c3e50;
  position: absolute;
  top: -170px;
  right: 0;
}
main .work .container-fluid h2 {
  margin-bottom: 55px;
}
main .work .container-fluid .box {
  background: #ecf0f1;
  height: 270px;
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  border: none;
  border-color: transparent;
}
main .work .container-fluid .box .description,
main .work .container-fluid .box .text {
  display: none;
}
main .work .container-fluid .box.pulse .description {
  max-width: 100%;
  display: block;
  border-style: solid;
  border-width: 125px 0 0 270px;
  border-color: transparent transparent transparent #2c3e50;
  position: absolute;
  opacity: 0.9;
  bottom: -1px;
  left: 0;
}
main .work .container-fluid .box.pulse .text {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 5px;
}
main .work .container-fluid .box.pulse .text p {
  font-size: 14px;
}
main .work .container-fluid .box img {
  width: 100%;
  height: 100%;
  opacity: 0;
  /* OLD IE */
  zoom: 1;
  filter: alpha(opacity=0);
}
main .work .container-fluid .box.lg {
  height: 570px;
}
main .work .triangle-right {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 1400px 170px 0;
  border-color: transparent #2c3e50 transparent transparent;
  position: absolute;
  bottom: -170px;
  right: 0;
  z-index: 1;
}
main .contact {
  padding-top: 170px;
  padding-bottom: 170px;
  position: relative;
  background-color: #ecf0f1;
  color: #000000;
}
main .contact h2 {
  color: #000000;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin-bottom: 30px;
}
main .contact p {
  color: #000000;
  margin-bottom: 30px;
}
main .contact .input-form {
  margin-top: 45px;
}
main .contact .input-form button {
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 3px;
  color: #ecf0f1;
  background: #2c3e50;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 45px;
}
main .contact .input-form button:hover,
main .contact .input-form button:focus,
main .contact .input-form button:active {
  background: #1a242f;
}
main .contact .triangle-right-reverse {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 170px 1400px;
  border-color: transparent transparent #2c3e50 transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer {
  background: #2c3e50;
}
footer p {
  color: #ecf0f1;
  font-size: 14px;
}
footer .icons {
  margin-top: 75px;
}
footer a {
  color: #ecf0f1;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: #cfd9db;
  text-decoration: none;
}
footer a .fa {
  font-size: 45px;
  position: absolute;
}
footer a .fa.fa-twitter {
  bottom: 40px;
}
footer a .fa.fa-twitter:hover,
footer a .fa.fa-twitter:focus,
footer a .fa.fa-twitter:active {
  color: #55acee;
}
footer a .fa.fa-medium {
  bottom: 60px;
}
footer a .fa.fa-medium:hover,
footer a .fa.fa-medium:focus,
footer a .fa.fa-medium:active {
  color: #00ab6b;
}
footer a .fa.fa-facebook-official {
  bottom: 100px;
}
footer a .fa.fa-facebook-official:hover,
footer a .fa.fa-facebook-official:focus,
footer a .fa.fa-facebook-official:active {
  color: #3b5998;
}
footer a .fa.fa-instagram {
  bottom: 80px;
}
footer a .fa.fa-instagram:hover,
footer a .fa.fa-instagram:focus,
footer a .fa.fa-instagram:active {
  color: #0d3c5f;
}
footer a .fa.fa-github {
  bottom: 20px;
}
footer a .fa.fa-github:hover,
footer a .fa.fa-github:focus,
footer a .fa.fa-github:active {
  color: #333;
}
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
