h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
legend,
p,
li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ecf0f1;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 18px;
}
img {
  max-width: 100%;
}
.container-fluid {
  max-width: 1170px;
}
.row.without_padding {
  padding: 0px;
  margin: 0px;
}
.btn {
  border: none;
  border-radius: 0;
  color: white;
  outline: none;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: white;
  outline: none;
}
header {
  min-height: 100vh;
}
header::after {
  background-image: url("../img/header_2.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header .navbar {
  margin-top: 35px;
  min-height: 80px;
  border-bottom: none;
}
header .navbar li {
  font-size: 15px;
  margin: 20px 20px;
}
header .navbar li a {
  color: black;
  line-height: 40px;
  text-shadow: 1px 1px 2px #969696;
  padding: 0;
  text-shadow: none;
}
header .navbar li a:focus,
header .navbar li a:active,
header .navbar li a:hover {
  background: transparent;
}
header .main_heading {
  top: 50%;
  left: 50%;
  margin-left: -700px;
  margin-top: -56px;
  position: absolute;
}
main .about {
  position: relative;
}
main .about .triangle-left {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 170px 0 0 1400px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: -170px;
  right: 0;
}
main .about .triangle-right {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 1400px 170px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  bottom: -170px;
  right: 0;
}
main .transition {
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 65vh;
}
main .work {
  height: 100vh;
  background: #2c3e50;
  position: relative;
}
main .work .triangle-left {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 170px 0 0 1400px;
  border-color: transparent transparent transparent #2c3e50;
  position: absolute;
  top: -170px;
  right: 0;
}
main .work .triangle-right {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 1400px 170px 0;
  border-color: transparent #2c3e50 transparent transparent;
  position: absolute;
  bottom: -170px;
  right: 0;
}
main .contact {
  padding-top: 170px;
  padding-bottom: 170px;
  position: relative;
  color: #000000;
}
main .contact h2 {
  color: #000000;
  font-family: "Montserrat", Helvetica, sans-serif;
}
main .contact p {
  color: #000000;
}
main .contact .triangle-right-reverse {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 170px 1400px;
  border-color: transparent transparent #2c3e50 transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer {
  background: #2c3e50;
}
footer p {
  color: #ecf0f1;
  font-size: 14px;
}
footer p a {
  color: #ecf0f1;
}
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
